{% extends "base.html" %}
{% block title %}Crear ImagenCloud{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Nueva ImagenCloud</h1>

    <form method="POST" action="{{ url_for('add_imagen') }}">
        <div class="mb-3">
          <label for="usuario" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="usuario" name="usuario">
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen</label>
          <input type="text" class="form-control" id="imagen" name="imagen">
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo" name="tipo">
        </div>
        <div class="mb-3">
            <label for="pixelesR" class="form-label">R</label>
            <input type="text" class="form-control" id="pixelesR" name="pixelesR">
        </div>
        <div class="mb-3">
            <label for="pixelesG" class="form-label">G</label>
            <input type="text" class="form-control" id="pixelesG" name="pixelesG">
        </div>
        <div class="mb-3">
            <label for="pixelesB" class="form-label">B</label>
            <input type="text" class="form-control" id="pixelesB" name="pixelesB">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" onclick="cancelarFormulario(event)">Cancel</button>
    </form>

    <script>
        function validarFormulario(event) {
          event.preventDefault();
      
          const usuario = document.getElementById('usuario').value.trim();
          const imagen = document.getElementById('imagen').value.trim();
          const tipo = document.getElementById('tipo').value.trim();
          const r = document.getElementById('pixelesR').value.trim();
          const g = document.getElementById('pixelesG').value.trim();
          const b = document.getElementById('pixelesB').value.trim();
      
          if (!usuario || !imagen || !tipo || !r || !g || !b) {
            alert("Todos los campos son obligatorios.");
            return;
          }
      
          if (![r, g, b].every(val => /^\d+$/.test(val))) {
            alert("R, G y B deben ser valores enteros.");
            return;
          }
      
          event.target.submit();
        }
      
        function cancelarFormulario(event) {
          event.preventDefault();
          window.location.href = "{{ url_for('index') }}";
        }
      
        // Asociar la función de validación al form después de que cargue la página
        window.addEventListener('DOMContentLoaded', () => {
          const form = document.querySelector('form');
          form.addEventListener('submit', validarFormulario);
        });
    </script>
{% endblock %}
    
