{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>Historial de Imagenes</h1>

      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Usuario</th>
                      <th>Imagen</th>
                      <th>Tipo</th>
                      <th>R</th>
                      <th>G</th>
                      <th>B</th>
                      <th>Fecha</th>
                      <th class="text-end">Borrado</th>
                  </tr>
              </thead>
              <tbody>
                  {% for imagen in imagenes %}
                      <tr>
                          <td>{{ imagen.usuario }}</td>
                          <td>{{ imagen.imagen }}</td>
                          <td>{{ imagen.tipo }}</td>
                          <td>{{ imagen.pixelesR }}</td>
                          <td>{{ imagen.pixelesG }}</td>
                          <td>{{ imagen.pixelesB }}</td>
                          <td>{{ imagen.fecha }}</td>
                          <td class="text-end">
                            <form action="{{ url_for('remove_imagen', id=imagen.id) }}" method="POST" style="display: inline;">
                              <button type="submit" class="btn btn-sm btn-secondary">Borrar</button>
                            </form>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No existen imagenes registradas.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('crear_imagen') }}" class="btn btn-success px-4 gap-3">Nueva ImagenCloud</a>
      </div>
{% endblock %}